<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SmartData</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/static/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/static/assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/assets/css/minified/core.min.css" rel="stylesheet" type="text/css">
	<link href="/static/assets/css/minified/components.min.css" rel="stylesheet" type="text/css">
	<link href="/static/assets/css/minified/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="/static/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/static/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/static/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/assets/js/plugins/loaders/blockui.min.js"></script>

	<!-- /core JS files -->

	<!-- Theme JS files -->
	<!--script type="text/javascript" src="/static/assets/js/plugins/forms/styling/switchery.min.js"></script-->
	<script type="text/javascript" src="/static/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
	<script type="text/javascript" src="/static/assets/js/plugins/forms/selects/select2.min.js"></script>
	<script type="text/javascript" src="/static/assets/js/pages/form_select2.js"></script>
	<script type="text/javascript" src="/static/assets/js/plugins/ui/prism.min.js"></script>

	<script type="text/javascript" src="/static/assets/js/core/app.js"></script>
	<script type="text/javascript" src="/static/assets/js/pages/sidebar_dual.js"></script>
	<script type="text/javascript" src="/static/echarts/dist/echarts.min.js"></script>
	

	<!-- /theme JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="/static/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<!--	<script type="text/javascript" src="/static/assets/js/plugins/tables/datatables/extensions/col_vis.min.js"></script>-->
	<script type="text/javascript" src="/static/assets/js/plugins/forms/styling/uniform.min.js"></script>
<!--	<script type="text/javascript" src="/static/assets/js/pages/datatables_extension_colvis.js"></script>-->

	<script type="module">
	import * as smartDataCandlesticks from '../static/js/smartDataCandlesticks.js';

	///////////////////////////////
	var industryCode = '{{ industryCode }}';
	var industryName = '{{ industryName }}';
	var startDate = '{{ startDate }}';
	var endDate = '{{ endDate }}';
	var stockName = '{{ stockName }}';

	var startDateFormat = startDate.slice(0,4) + "-"+ startDate.slice(4,6) + "-"+ startDate.slice(6,8);
	var endDateFormat = endDate.slice(0,4) + "-"+ endDate.slice(4,6) + "-"+ endDate.slice(6,8);

	$('#kStartDate').val(startDateFormat);
	$('#kEndDate').val(endDateFormat);
	document.getElementById("title_industry").innerHTML = industryName;
	document.getElementById("title_stockName").innerHTML = stockName;

    var kDom = document.getElementById("kLine");
    var kChart = echarts.init(kDom);
    var app = {};
    var kOption = smartDataCandlesticks.option;

	var tradingCalendar = {{ tradingCalendar|safe }};
	smartDataCandlesticks.setXAxisData(kOption, tradingCalendar, 0);
	smartDataCandlesticks.setXAxisData(kOption, tradingCalendar, 1);
	smartDataCandlesticks.setXAxisData(kOption, tradingCalendar, 2);

	kOption.yAxis[0].axisLabel.formatter='{value} %'

	var tradingDatas = {{ tradingDatas|safe }};
	var stocksName = {{ stocksName|safe }};

	var indexTradingDatas = {{ indexTradingDatas|safe }};
	var indexsName = {{ indexsName|safe }};

    for (var key in tradingDatas)
    {
	　　var tradingData = tradingDatas[key];
		var result = smartDataCandlesticks.splitDataByType(tradingData, true);
		smartDataCandlesticks.attachLineDataOnFirstAxis(kOption, stocksName[key], result.values);
	}
	for (var key in indexTradingDatas)
    {
	　　var indexTradingData = indexTradingDatas[key];
		var result = smartDataCandlesticks.splitDataByType(indexTradingData, true);
		smartDataCandlesticks.attachLineDataOnFirstAxis(kOption, indexsName[key], result.values);
	}

	var macds = {{ macds|safe }};
	smartDataCandlesticks.attachMacdData(kOption, macds);

	var financialDatas = {{ financialDatas|safe }};
	var financialIndexParams = {{ financialIndexParams|safe }};

	for (var key in financialDatas)
	{
		smartDataCandlesticks.createNewYAxisAndAttachLineData(kOption, financialIndexParams[key]+key, tradingCalendar, financialDatas[key], true);
	}

    if (kOption && typeof kOption == "object") {
        kChart.setOption(kOption, true);
    }

    ////////////////////////////////////////////////////////////////////////////////////
    //var fDom = document.getElementById("financeIndicatorLine");
   // var fChart = echarts.init(fDom);
   // var fOption = smartDataCandlesticks.optionLine;
   // if (fOption && typeof fOption == "object") {
   //     fChart.setOption(fOption, true);
   // }
//////////////////////////////////
//更新数据
    $(".kf-get").click(function () {
        {   //获取所选参数并提交
            var reg = new RegExp("-","g");
            var startDate= $('#kStartDate').val().replace(reg,"");
            var endDate= $('#kEndDate').val().replace(reg,"");

            var kSelectPeriod= $('#kSelectPeriod').val();
            var indexCodes= $('#kIndex').val();
	    }

        $.ajax({
                url: '',
                type: 'post',
                traditional: true,
                data: {'action':'getTradingDatas','industryCode':industryCode,'startDate': startDate, 'endDate': endDate, 'selectPeriod':kSelectPeriod, 'indexCodes':indexCodesSelected},
                success: function (response)
                {
                    smartDataCandlesticks.setXAxisData(kOption, response.tradingCalendar, 0);
                    smartDataCandlesticks.setXAxisData(kOption, response.tradingCalendar, 1);
                    smartDataCandlesticks.setXAxisData(kOption, response.tradingCalendar, 2);
                    smartDataCandlesticks.resetSeriesData(kOption);
                    alert("already get top stockprice!");
					for (var key in response['tradingDatas'])
					{
					　　var tradingData = response['tradingDatas'][key];
						var result = smartDataCandlesticks.splitDataByType(tradingData, true);
						smartDataCandlesticks.attachLineDataOnFirstAxis(kOption, key, result.values);
					}
                    kChart.setOption(kOption, true);
                }
        })
    });

    $(".topFinancial-get").click(function () {
        {   //获取所选参数并提交
            var reg = new RegExp("-","g");
            var startDate= $('#financeStartDate').val().replace(reg,"");
            var endDate= $('#financeEndDate').val().replace(reg,"");
            financialIndicatorSelected = ($(".select-financialIndicator").select2("val"));
            var selectTopNum= $('#indicatorSelectTopNum').val();
	    }

        $.ajax({
                url: '',
                type: 'post',
                traditional: true,
                data: {'action':'getFinancialDatas','industryCode':industryCode,'startDate': startDate, 'endDate': endDate, 'financialIndicatorSelected':financialIndicatorSelected, 'selectTopNum':selectTopNum},
                success: function (response)
                {
                    smartDataCandlesticks.resetSeriesData(fOption);
                    smartDataCandlesticks.setXAxisData(fOption, response.calendarData, 0);
					for (var key in response['financialDatas'])
					{
						smartDataCandlesticks.attachLineDataOnFirstAxis(fOption, key, response['financialDatas'][key]);
					}
                    fChart.setOption(fOption, true);
                }
        })
    });

    $(".financialIndicators-get").click(function () {
        {   //获取所选参数并提交
            reportPeriodSelected = ($(".select-reportPeriod").select2("val"));
	    }

        $.ajax({
                url: '',
                type: 'post',
                traditional: true,
                data: {'action':'getAllFinancialDatas','industryCode':industryCode,'reportPeriod': reportPeriodSelected},
                success: function (response)
                {
					$('.datatable-ajax').dataTable({
						data: response.allFinancialDatas,
						"columnDefs": [
						  {
						   "render": function (data, type, row) {
							return "<a href='/tsCode/?ts_code=" + row[1]+"'>"+row[0]+"</a>";
						   },
						   "targets": 0
						  },
						  { "visible": false, "targets": [ 1 ] }
						 ]
					});
                }
        })
    });

    //窗口自动缩放
	window.addEventListener('resize',function () {
	if(kChart){kChart.resize();}
	if(fChart){fChart.resize();}
	})

	</script>

	<script type="text/javascript" src="/static/assets/js/pages/datatables_data_sources_stock.js"></script>

</head>

<body class="sidebar-xs">

	<script type="text/javascript" src="/static/common/mainNavbar.js"></script>

	<script type="text/javascript">
		var industryClassifyJson={};
		var industryClassifyList=[];
		var financialIndicatorsList=[];
		var industryClassifySelected=[];
		var financialIndicatorSelected=[];
		var reportPeriodList=[];
		var reportPeriodSelected="";

		var indexsListJson={};
		var indexsList=[];
		var indexCodesSelected=[];
	</script>
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">
            <script type="text/javascript" src="/static/common/mainSidebar.js"></script>
			<!-- Main content -->
			<div class="content-wrapper">

				<div class="page-header">
					<div class="page-header-content">
						<div class="page-title">
							<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold" id="title_industry" a="">Forms</span> - <span id="title_stockName">Input Groups</span> </h4>
						</div>
					</div>
				</div>
				<!-- Content area -->
				<div class="content">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h6 class="panel-title">股价走势图</h6>
								</div>
								<div class="form-group">
													<input id="kStartDate" class="form-control" type="date" name="date">
													<span class="help-block">Start Date</span>

													<input id="kEndDate" class="form-control" type="date" name="date">
													<span class="help-block">End Date</span>
										<input type="hidden" class="select-kIndex">
									<select class="select" id="kSelectPeriod">
												<option value="D" selected="selected">日线</option>
												<option value="W">周线</option>
												<option value="M">月线</option>
									</select>
									<input type="hidden" class="select-financialIndicator" data-placeholder="选择财务指标" value="">
										<button type="button" class="btn btn-success kf-get">确定</button>
								</div>

								<div class="panel-body">
									<!-- Candlestick charts -->
									<div class="row" id="main_echart_container_kLine">
										<div class="col-lg-12">
											<!-- Candlestick with line -->
											<div class="panel panel-flat">
												<div class="panel-body">
													<div class="chart-container">
															<div class="chart has-fixed-height" id="kLine"></div>
													</div>
												</div>
											</div>
											<!-- /candlestick with line -->

										</div>
									</div>
									<!-- /Candlestick charts -->
								</div>
							</div>
						</div>
					</div>

					<!-- Ajax sourced data -->
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">主营业务构成</h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
							<div class="form-group">
								<input type="hidden" class="select-reportPeriod" data-placeholder="选择报告期" value="">
								<button type="button" class="btn btn-success financialIndicators-get">确定</button>
							</div>
						</div>
						<table class="table datatable-ajax">
							<thead>
								<tr>
<!--									<th>股票</th>-->
									<th>股票代码</th>
					                <th>股票名称</th>
					                <th>报告期</th>
					                <th>销售毛利率</th>
					                <th>销售净利率</th>
					                <th>净资产收益率</th>
					                <th>净资产收益率(扣除非经常损益)</th>
									<th>营业利润同比增长率</th>
									<th>营业收入同比增长率</th>
									<th>净资产同比增长率</th>
					            </tr>
							</thead>
						</table>
					</div>
					<!-- /ajax sourced data -->
					<!-- Footer -->
					<div class="footer text-muted" style="font-family:'Microsoft Yahei';">
						&copy; 2020  SmartData公司&nbsp;&nbsp;ICP备XXXXXXXX号&nbsp;&nbsp;技术支持：<a style="font-family:'Microsoft Yahei';" href="http://www.jsdaima.com/" title="js代码" target="_blank">js代码</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->
		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
