<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
   <link rel="stylesheet" href="../../node_modules/css/jquery-labelauty.css" />
   <link rel="stylesheet" href="../../node_modules/css/select_style.css" />
<style type="text/css">
ul{list-style-type: none;}
li{display: inline-block;}
li{margin: 2px 0;}
input.labelauty + label{font:12px "Microsoft Yahei";}
.options br{ margin:0 auto;
line-height:25px; }
</style>


   <script src="../../node_modules/js/jquery-3.4.1.min.js"></script>
   <script src="../../node_modules/js/jquery-labelauty.js"></script>
   <script src="../../node_modules/echarts/dist/echarts.js"></script>

   <div id="options" class="options">
           <li>
           开始日期:<input type="date" id="startDate"/>&nbsp;</li>
           <li>
           截止日期:<input type="date" id="endDate"/>&nbsp;
        <br> <li>代码</li>
       <input type="text" name="ts_code" list="ts_codeList" maxlength="20">
<datalist id="ts_codeList" style="display:none;">
    <option value="000001.SH">上证指数</option>
    <option value="399300.SZ">创业板指数</option>

</datalist>
       <li><button id="addCode">添加</button></li>
           <li class="select-result">
			<dl>
				<dt>已选代码：</dt>
				<dd class="select-no">上证指数</dd>
			</dl>
		</li>



       <br> <li>宏观数据</li>
        <li><input id ="showMacroData" type="checkbox" name="checkbox" data-labelauty="GDP"></li>
		<li><input type="checkbox" name="checkbox" data-labelauty="存款准备金"></li>
		<li><input type="checkbox" name="checkbox" data-labelauty="货币供应量"></li>
		<li><input type="checkbox" name="checkbox" data-labelauty="CPI"></li>
		<li><input type="checkbox" name="checkbox" data-labelauty="PMI"></li>
		<li><input type="checkbox" name="checkbox" data-labelauty="PPI"></li>
       <br> <li>数据</li>
        <li><input type="checkbox" name="checkbox" data-labelauty="主营业收入增长率"></li>
		<li><input type="checkbox" name="checkbox" data-labelauty="毛利率"></li>
		<li><input type="checkbox" name="checkbox" data-labelauty="扣非净利率"></li>
		<li><input type="checkbox" name="checkbox" data-labelauty="负债率"></li>
		<li><input type="checkbox" name="checkbox" data-labelauty="周转率"></li>
   </div>
       <script type="text/javascript">
       jQuery(function ($) {
    $(function () {
       $(':input').labelauty();
    });
});

$(document).ready(function () {
        var time = new Date();
        var day = ("0" + time.getDate()).slice(-2);
        var month = ("0" + (time.getMonth() + 1)).slice(-2);
        var lastYear = time.getFullYear()-1 + "-" + (month) + "-" + (day);
        $('#startDate').val(lastYear);

        var today = time.getFullYear() + "-" + (month) + "-" + (day);
        $('#endDate').val(today);

        $("#addCode").click(function () {
			var copyThisA = $(".select-result dd").clone();
            copyThisA.text() = $("#ts_code").text()
			if ($("#selectA").length > 0) {
				$("#selectA a").html($(this).text());
			} else {
				$(".select-result dl").append(copyThisA.attr("id", "selectA"));
			}
	});

	$("#selectA").live("click", function () {
		$(this).remove();
	});

    });
</script>

   </body>
</html>